@mixin principalFont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

@mixin responsive {
    @media screen and (max-width: 769px) {
        @content;
    }
}